$main-blue: #1789FC;
$main-yellow: #DE9502;
$main-red: #DF2727;

$dark-blue: #296EB4;
$dark-yellow: #B1740F;
$dark-red: #981717;

$grey: #E5E5E5;

$small: 1rem;
$large: 1.25rem;

$screen-sm-min: 576px;
$screen-md-min: 768px;
$screen-lg-min: 992px;
$screen-xl-min: 1200px;