$main-blue: #1789FC;
$main-yellow: #DE9502;
$main-red: #DF2727;

$dark-blue: #296EB4;
$dark-yellow: #B1740F;
$dark-red: #981717;

$grey: #EFEFEF;

$small: 1rem;
$large: 1.25rem;

$screen-sm-min: 576px;
$screen-md-min: 768px;
$screen-lg-min: 992px;
$screen-xl-min: 1200px;

$font-small-label: 12px;
$font-large-label: 14px;

$font-small-input-label-text: 14px;
$font-large-input-label-text: 16px;

$font-small-sm-button: 14px;
$font-small-lg-button: 16px;

$font-large-sm-button: 16px;
$font-large-lg-button: 20px;