@import "../../styles/variables";
@import "../../styles/mixins";

.firstStep{
    display: flex;
    justify-content: space-between;

    & > div{
        width: 100%;
        @include md {
            width: 48%;
         }  
    }


}
