@import "../../styles/variables";
@import "../../styles/mixins";

.inputGroup {

  width: 100%;
  display: flex;
  flex-direction: column;
  margin: 0.75rem 0;

  .error {
    color: $main-red;
    font-weight: bold;
    font-size: $font-small-input-label-text;
    line-height: $font-small-input-label-text;
    @include lg{
      font-size: $font-large-input-label-text;
      line-height: $font-large-input-label-text;
    }
  }

  label {
    font-weight: bold;
    margin-bottom: 0.25rem;
    font-size: $font-small-label;
    @include lg{
      font-size: $font-large-label;
    }
  }

  .input {
    width: 100%;
    padding: 0.8rem 1.2rem;
    border: none;
    border-radius: 0.25rem;
    background-color: $grey;
    font-size: $font-small-input-label-text;
    line-height: $font-small-input-label-text;
    @include lg{
      font-size: $font-large-input-label-text;
      line-height: $font-large-input-label-text;
    }

    &:focus, &:active{
      border-color: darken($grey, 70);
      outline-color: darken($grey, 70);
    }

    &.inputError {
      border: 2px solid $main-red;
    }

    @include lg {
      padding: 0.6rem 0.8rem;
    }
  }
}